$xs: 12px;
$sm: 14px;
$md: 18px;
$lg: 22px;
$xl: 40px;
$radius: 5px;

$text-xsm: 10px;
$text-sm: 14px;
$text-default-sm: 16px;
$text-default-lg: 27px;
$nav-sm: 32px;
$text-md: 20px;
$title-sm: 24px;
$title-lg: 47px;
$h1-sm: 36px;
$h1-lg: 84px;
$h2-sm: 25px;
$h2-lg: 63px;
