@import '../base/manifest', '../helpers/manifest';

.primary-button {
  font-size: $text-default-sm;
  cursor: pointer;
  transition: 0.3s;
  background-color: $primary;
  height: 48px;
  padding: 16px 24px 13px;
  margin-top: 16px;
  .arrow-icon {
    height: 12px;
    object-fit: contain;
    margin-left: 4px;
    path {
      transition: 0.3s;
      fill: black !important;
    }
  }
  @include flexCenter();
  @include mq(md) {
    height: 52px;
    font-size: $text-md;
    margin-top: 24px;
  }
  @include mq(lg) {
    height: 64px;
    font-size: $text-default-lg;
    padding: 17px 32px 15px;
    margin-top: 32px;
    .arrow-icon {
      height: 18px;
      margin-left: 6px;
    }
  }
}

.primary-button:hover {
  color: $primary;
  background-color: black;
  .arrow-icon {
    path {
      fill: $primary !important;
    }
  }
}
