@import '../base/manifest', '../helpers/manifest';

.gutter-x {
  padding: 0 32px !important;
  @include mq(xl) {
    padding: 0 120px !important;
  }
}

.navbar {
  background-color: $primary;
  position: sticky !important;
  top: 0;
  z-index: 99;
}

.nav-collapse-open {
  transition: all 0.4s;
  background-color: $secondary;
  padding-bottom: 0;
}

.nav-menu {
  margin-left: 32px;
  border: none !important;
}

.nav-group {
  display: flex;
  flex: 1;
  position: relative;
}

.navbar-expand-lg {
  flex-wrap: wrap !important;
}

.navbar-collapse,
#navbarText {
  height: calc(100vh - 49.2px - 0.5rem);
  .lang-container {
    display: flex;
    background-color: $primary;
    padding: 34.5px 32px;
    color: $offblack;
    font-size: $text-default-sm;
    .lang {
      font-size: $md;
      padding: 0 12px;
    }
  }
  @include mq(lg) {
    height: 0;
    display: none !important;
  }
}

.nav-subgroup {
  display: none;
  @include mq(lg) {
    display: flex;
    font-size: $text-default-lg;
    margin-left: 70px;
    row-gap: 40px;
  }
}

.nav-action {
  font-size: $text-sm;
  font-family: 'sunset-gothic-bold-pro';
  cursor: pointer;
  @include mq(lg) {
    font-size: $text-default-sm;
  }
}

.nav-listing {
  height: calc(100% - 95.4px - 0.5rem);
  .nav-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    .nav-title {
      font-size: $nav-sm;
    }
    .arrow-icon {
      width: 23px;
      height: 20px;
      margin-left: 4px;
    }
    .nav-sublist {
      width: 100%;
      .nav-subtitle {
        display: inline-flex;
        width: 49%;
        font-family: 'sunset-gothic-bold-pro';
        font-size: $text-sm;
        color: black;
        text-decoration: none;
        padding: 12px 24px 12px 0;
        text-transform: uppercase;
      }
    }
  }
  .nav-item:nth-child(1) {
    margin-top: 14%;
  }
}

.learn-nav-collapse {
  width: 100%;
}
