.hero-section {
  height: max-content;
  background-color: $primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 38px;
  padding-top: 63px !important;
  padding-bottom: 56px !important;
  overflow: hidden;
  position: relative;

  @include mq(md) {
    grid-template-columns: 2fr 1fr;
    padding-bottom: 120px !important;
  }

  .hero-slider-text-container {
    width: 85vw;
    padding-top: 0;
    @include mq(md) {
      width: 50vw;
      padding-top: 20px;
    }
    .hero-slider-nav {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      grid-gap: 33px;
      padding: 0;
      li {
        font-size: $text-default-sm;
        opacity: 0.2;
        @include mq(xl) {
          font-size: $text-default-lg;
        }
      }
      .active {
        opacity: 1;
      }
    }
  }

  .hero-slider-img-container {
    display: flex;
    justify-content: flex-end;
    @include mq(md) {
      justify-content: baseline;
    }
    .hero-slider-img {
      width: 200px;
      height: 270px;
      object-fit: contain;
      @include mq(md) {
        width: 280px;
        height: 100%;
      }
      @include mq(lg) {
        width: 330px;
        height: 100%;
      }
      @include mq(xl) {
        width: 465px;
        height: 100%;
      }
    }
  }
}
